#
# 'git ls-files -i --exclude-standard' aufrufen,
# falls unsicher, ob nach Aenderung zu viel ignoriert wird.
#
# Jedes Unterverzeichnis kann auch eine extra .gitignore-Datei
# beinhalten.
#

# projekt
## config
sap-zugangsdaten.properties

# java
.classpath
*.class
bin

# sap fehler log dateien
dev_rfc.trc
*.trc

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# sap libs
sapjcorfc.dll
librfc32.dll
sapjco.jar


# sonstiges

.vagrant/
*~
*.bak
Backup
backup
*.pdf
.metadata
.settings
.settings/
.settings/*
.DS_Store
.mailmap
*.bak
*.old
*.swp
*.o
*.obj
