#
# 'git ls-files -i --exclude-standard' aufrufen,
# falls unsicher, ob nach Aenderung zu viel ignoriert wird.
#
# Jedes Unterverzeichnis kann auch eine extra .gitignore-Datei
# beinhalten.
#

*.class
bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# sonstiges

.vagrant/
*~
*.bak
Backup
backup
*.pdf
.metadata
.settings
.DS_Store
.mailmap
*.bak
*.old
*.swp
*.o
*.obj
